.companyInfo {
   border: 1px solid white;
   margin: 0 auto; /* Centrera horisontellt */
   text-align: center; /* Centrera texten */
   max-width: 70%; /* Max bredd 70% av förälderelementet */
   margin-top: 5rem;
   padding: 2rem;
   margin-bottom: 5rem;
   width: 100%; /* Fyll tillgängligt utrymme */
   border-radius: 4rem;
}

.companyInfo h1 {
   padding: 2rem;
}

.companyInfo p {
   padding: 2rem;
   line-height: 30px;
}

.employeeContainer {
    margin-bottom:4rem;
 }

.employees {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.employee {
   display: flex;
   align-items: center;
   max-width: 300px;
   margin: 1rem;
   border: 1px solid rgb(237, 240, 241);
   padding: 1rem;
   min-width: 30rem;
   border-radius: 2rem;
}

.employeeText {
   text-align: center;
   margin-right: 10px;
   flex: 1;
   min-width: 15rem;
   max-width: 30rem;
}

.employeeText h2 {
   padding-bottom: 1rem;
}
.employeeText h3 {
   padding-bottom: 1rem;
}

.employeeText p {
   line-height: 20px;
   border: 1px solid white;
   margin: 1rem;
   border-radius: 1rem;
   padding: 0.5rem;
   line-height: 25px;
   margin-left: 2rem;
}

.employee img {
   max-width: 10rem;
   border-radius: 5%;
}

.employeeButton {
   margin: 1rem;
   background-color: slategray;
   color: white;
   border: solid slategrey;
   padding: 8px 16px;
   font-size: 16px;
   cursor: pointer;
   border-radius: 5px;
   transition: background-color 0.3s;
}

.employeeButton:hover {
   background-color: #333;
}
