body {
   font-family: "Montserrat", sans-serif;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   display: flex;
   justify-content: space-between;
   padding-top: 130px;
   background-color: #242526;
}

.companyInfo {
   border: 1px solid white;
   margin: 0 auto; /* Centrera horisontellt */
   text-align: center; /* Centrera texten */
   max-width: 70%; /* Max bredd 70% av förälderelementet */
   margin-top: 5rem;
   padding: 2rem;
   margin-bottom: 5rem;
   width: 100%; /* Fyll tillgängligt utrymme */
}

.companyInfo h1 {
   padding: 2rem;
}

.companyInfo p {
   padding: 2rem;
   line-height: 30px;
}

.ourEmployees {
   padding: 0.5rem;
   color: rgb(237, 240, 241);
   background-color: slategray;
}

.employees {
   display: flex;
   justify-content: center;
   flex-wrap: wrap; 
}

.employee {
   display: flex;
   align-items: center;
   max-width: 300px;
   margin: 10px;
   border: 1px solid rgb(237, 240, 241);
   padding: 1rem;
   min-width: 30rem;
}

.employeeText {
   text-align: center;
   margin-right: 10px;
   flex: 1;
   min-width: 15rem;
   max-width: 30rem;
}

.employeeText h2 {
   padding-bottom: 1rem;
}
.employeeText h3 {
   padding-bottom: 3rem;
}

.employeeText p {
    line-height: 20px
}

.employee img {
   max-width: 10rem;
   border-radius: 5%;
}

.employeeButton {
    margin:1rem;
   background-color: slategray;
   color: white;
   border: solid slategrey;
   padding: 8px 16px;
   font-size: 16px;
   cursor: pointer;
   border-radius: 5px;
   transition: background-color 0.3s;
}

.employeeButton:hover {
   background-color: #333;
}
