
 main {
    width: 100%;
    background-color: #242526;
    flex: 1;
 }
 


 .pcbuildersection {
   display: flex;
   justify-content: space-between;
   padding-top: 1rem;
   padding-bottom: 1rem;
}

.left-flex {
   margin-left: 260px;
   margin-right: 12px;
   width: 300px;
}

.summaryBox {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 120px;
   padding: 10px;
   background-color: #303233;
   margin-bottom: 12px;
}

.summaryTitle, .summaryTotal {
   color: #e1e1e1;
}

.summaryTitle, .summaryTotal {
   text-align: center;
}

.summaryTitle {
   font-size: 15px;
}

.summaryTotal {
   font-size: 30px;
   font-weight: bold;
   margin-top: 7px;
}

.summaryButtonContainer {
   display: flex;
   justify-content: space-between;
   margin-top: 10px;
}

.summaryButton {
   color: #000000;
   background-color: #abacac;
   height: 35px;
   width: 50%;
   margin: 5px;
}

.left-flex-button {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   box-sizing: border-box;
   width: 100%;
   height: 45px;
   margin-bottom: 12px;
   padding-left: 10px;
   background-color: #303233;
   color: #e1e1e1;
   font-weight:600;
   border: 0;

}

.left-flex-button img {
   max-height: calc(100% - 10px);
   max-width: 35px;
   min-width: 35px;
   padding-right: 15px;
}

.left-flex-button:hover {
   cursor: pointer;
   opacity: 0.5;
}

.right-flex {
   margin-right: 260px;
   flex-grow: 1;
}

.rightFlexBox {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: calc(100% - 12px);
   padding: 10px;
   background-color: #303233;
   margin-bottom: 12px;
   min-width: 100%;
}

.innerFlexBox, .innerFlexBoxStart, .innerFlexBoxChassi, .innerFlexBoxProcessor, .innerFlexBoxGPU, .innerFlexBoxMotherboard, .innerFlexBoxRAM, .innerFlexBoxHarddrive, .innerFlexBoxFans, .innerFlexBoxCooling, .innerFlexBoxPSU, .innerFlexBoxOS, .innerFlexBoxProvideBuild {
  margin: 20px 60px;
  height:100%;
  max-width: 100%;
  word-wrap: break-word;
}

.innerFlexBoxStart, .innerFlexBoxChassi, .innerFlexBoxProcessor, .innerFlexBoxGPU, .innerFlexBoxMotherboard, .innerFlexBoxRAM, .innerFlexBoxHarddrive, .innerFlexBoxFans, .innerFlexBoxCooling, .innerFlexBoxPSU, .innerFlexBoxOS, .innerFlexBoxProvideBuild h2 {
   text-align: center;
   text-transform: uppercase;
   font-weight: bolder;
   padding-bottom: 25px;
 }

.innerFlexBoxStart p {
   text-align: left;
   text-transform: none;
   font-weight: normal;
   padding-bottom: 7px;
   padding-top: 25px;
}

.left-flex, .rightFlexBox {
  flex-shrink: 0;
}

.innerFlexBoxStart iframe {
  padding-top: 20px;
  padding-bottom: 20px;
}
 
.innerFlexBoxChassi,
.innerFlexBoxProcessor,
.innerFlexBoxGPU,
.innerFlexBoxMotherboard,
.innerFlexBoxRAM,
.innerFlexBoxHarddrive,
.innerFlexBoxFans,
.innerFlexBoxCooling,
.innerFlexBoxPSU,
.innerFlexBoxOS,
.innerFlexBoxProvideBuild {
  display: none;
}

.monteringsButtonOption {
   display: inline-flex; /* Ändra till inline-flex */
   align-items: center;
   justify-content: center; /* Centrerar texten i knappen */
   box-sizing: border-box;
   width: 40%;
   height: 3rem;
   margin-bottom: 12rem;
   margin-top: 11rem;
   margin-right: 1rem;
   margin-left: 1rem;
   background-color: #242526;
   color: #e1e1e1;
   font-weight:600;
   border: 0;
}

.monteringsButtonOption:hover {
   cursor:pointer;
   opacity: 0.5;
}

.innerFlexBoxProvideBuild {
   display: flex;
   flex-direction: column; /* Lägger till element i en kolumn */
   align-items: center; /* Centrerar elementen horisontellt */
   justify-content: space-between; /* Ger lika mycket utrymme mellan elementen */
}