* {
    margin: 0;
    padding: 0;
    color: rgb(237, 240, 241);
 }
 
 body {
    font-family: "Montserrat", sans-serif;
 }
 
 a {
    text-decoration: none;
 }
 
 .header {
    height: 130px;
 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
 
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
 
    background-color: rgb(30, 39, 103);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);
 }
 
 main {
    width: 100%;
    height: 1000px;
    background-color: #FAF0E6;
 }
 
 footer {
    bottom: 0px;
    position: relative;
    width: 100%;
    height: 260px;
    background-color: rgb(30, 39, 103);
 }
 
 .row-top {
    display: flex;
    height: 90px;
 }
 
 .row-bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 100px;
    padding: 15px 20px;
 }
 
 .top-menu-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
 }
 
 .top-menu-link:hover {
    cursor: pointer;
    opacity: 0.5;
 }
 .shopping-cart-icon-container:hover {
    cursor: pointer;
    opacity: 0.5;
 }
 
 .left-section:hover {
    cursor: pointer;
    opacity: 0.8;
 }
 
 .left-section {
    flex: 1;
    display: flex;
    align-items: center;
    padding-right: 40px;
    padding-left: 5px;
    margin-top: 10px;
 }
 
 .computer-logo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
 }
 
 .middle-section {
    display: flex;
    align-items: center;
    flex: 1;
 }
 
 .search-bar-container {
    display: flex;
    position: relative;
    flex: 1;
 }
 
 .search-bar {
    flex: 1;
    height: 45px;
    font-size: 16px;
    padding-left: 20px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
       rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
       rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    color: black;
 }
 
 .search-bar::placeholder {
    font-size: 16px;
 }
 
 .search-icon {
    width: 25px;
    right: 10px;
    position: absolute;
    align-self: center;
    padding-right: 5px;
 }
 
 .right-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 182px;
    flex: 1;
 }
 
 .shopping-cart-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
 }
 
 .shopping-cart-icon {
    width: 40px;
    padding-right: 7px;
 }

 .grid-container{
   padding:150px;
   display:grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   grid-template-rows:300px 300px 300px;
   gap:15px;
   justify-content: center;
}

.grid-container > div{
 text-align: center;
 padding: 20px 0;
 font-size: 30px;
 background-color: rgb(43, 113, 226);
 border-radius:20px;
 border-style:groove;
}

.item h2{
   font-size: 1em;
}

#txtPrice{
   margin-top:2em;
   color:black;
}

#txtPrice span{
   font-size: 2em;
}

.item p{
   font-size: 0.5em;
}

.item button{
   padding:8px;
   color:black;
   background-color:white;
   border-radius:10px;
   border-style:double;
}

.item button:hover{
   background-color:burlywood;
}

.item img{
   width:150px;
   height:100px;
}
