@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300&family=Quicksand:wght@300;400&display=swap');

*{
    margin:0;
}

body{
    margin:0;
    padding:0;
    background-color:darkgrey;
}

header {
    position:fixed;
    transition:top 0.5s;
    width:100%;
    height: 200px;
    background-color:rgb(98, 98, 98);
}

footer{
    position:relative;
    width:100%;
    height: 200px;
    bottom:0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 75px 75px 50px;
    width:100%;
}

.grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.item1 {
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:1;
    grid-row-end:4;
}

#logo{
    width:100%;
    height:100%;
    object-fit:contain;
}

#title{
    object-fit:contain;
    font-size:1.5em;
    font-family:'Quicksand', sans-serif;
    position:relative;

}

.item2, .item3, .item4{
    grid-column-start:2;
    grid-column-end:3;
}

.menu{
    position:relative;
}

.menu ul li{
    display:inline;
    margin-right:1.5em;
}

.menu ul li a{
    font-size:large;
    font-family:'Quicksand', sans-serif;
    text-transform: uppercase;
    color:white;
}

.item5 {
    grid-column-start:3;
    grid-column-end:4;
    grid-row-start:1;
    grid-row-end:4;
}



/*
.menu ul{
    position:absolute;
    text-align:center;
    bottom:0;
    width:100%;
}

.menu ul li{
    display:inline;
    margin-right: 3em;

}

.menu ul li a{
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Quicksand', sans-serif;
    font-weight:5px;
    color:white;
}

.menu ul li a:hover{
    background-color:gray;
}

main p{
    text-align:center;
    width:25%;
}
*/