body {
   display: inline-block;
}

.companyInfo {
   border: 1px solid white;
   margin: 0 auto; /* Centrera horisontellt */
   text-align: center; /* Centrera texten */
   max-width: 70%; /* Max bredd 70% av förälderelementet */
   margin-top: 5rem;
   padding: 2rem;
   margin-bottom: 5rem;
   width: 100%; /* Fyll tillgängligt utrymme */
   border-radius: 4rem;
   align-items: center;
}

.companyInfo h1 {
   padding: 2rem;
   text-decoration: underline;
   text-transform: uppercase;
}

.companyInfo p {
   padding: 2rem;
   line-height: 30px;
}

.attributes {
   border: 2px solid grey;
   margin: 0 auto;
   text-align: center;
   max-width: 70%;
   margin-top: 5rem;
   padding: 2rem;
   margin-bottom: 5rem;
   width: 100%;
   border-radius: 4rem;
}

.attributes h1 {
   padding: 2rem;
   text-transform: uppercase;
}

.attributes p {
   padding: 2rem;
   line-height: 1.5;
}

.circle-container {
   display: grid;
   place-items: center;
   justify-content: space-around;
   padding-top: 1rem;
   grid-template-columns: repeat(6, 1fr);
}

.circle-container svg {
   width: 120px; /* Lägg till en fast bredd här */
}

.attributeNames {
   display: flex;
   justify-content: space-around;
}

.attributeNames h2 {
   min-width: 15%; /* Lägg till en fast bredd här */
   text-align: center; /* Centrera texten inom h2-elementet */
   padding-top: 1rem;
}

.progress-ring__circle {
   transform: rotate(-90deg);
   transform-origin: 50% 50%;
   stroke-dasharray: 365;
   stroke-dashoffset: 365;
}

.nvidia,
.mount,
.coding {
   border: 2px solid white;
   margin: 0 auto; /* Centrera horisontellt */
   text-align: center; /* Centrera texten */
   max-width: 70%; /* Max bredd 70% av förälderelementet */
   margin-top: 5rem;
   padding: 2rem;
   margin-bottom: 5rem;
   width: 100%; /* Fyll tillgängligt utrymme */
   border-radius: 4rem;
}

.amd,
.troubleshooting,
.item5 {
   border: 2px solid grey;
   margin: 0 auto; /* Centrera horisontellt */
   text-align: center; /* Centrera texten */
   max-width: 70%; /* Max bredd 70% av förälderelementet */
   margin-top: 5rem;
   padding: 2rem;
   margin-bottom: 5rem;
   width: 100%; /* Fyll tillgängligt utrymme */
   border-radius: 4rem;
}

.nvidia h1,
.amd h1,
.mount h1,
.troubleshooting h1,
.coding h1,
.item5 h1 {
   padding: 2rem;
   text-decoration: underline;
   text-transform: uppercase;
}

.nvidia p,
.amd p,
.mount p,
.troubleshooting p,
.coding p,
.item5 p {
   padding: 2rem;
   line-height: 30px;
}

.nvidia li,
.amd li,
.mount li,
.troubleshooting li,
.coding li {
   padding: 2rem;
   line-height: 30px;
}

/* Lägg till din övergång och hover-effekt här */
.attributeNames h2,
#nvidia,
#amd,
#mount,
#troubleshooting,
#coding,
#item5 {
   transition: all 0.5s ease;
}

.attributeNames h2:hover,
#nvidia:hover,
#amd:hover,
#mount:hover,
#troubleshooting:hover,
#coding:hover,
#item5:hover {
   transform: scale(1.1);
}

img {
   width: 20%;
}

/* Definiera en keyframes-animation som roterar ett element 360 grader */
@keyframes roll {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

/* Lägg till animationen till alla element med klassen 'roll' */
body.roll {
   animation: roll 2s ease;
}
@media screen and (max-width: 1035px) {
   .circle-container {
      grid-template-columns: repeat(3, 1fr);
   }
   .attributeNames {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .attributeNames h2 {
      min-width: auto;
      text-align: center;
      padding-top: 1rem;
   }
   .progress-ring__circle {
      display: none;
   }
}

@media screen and (max-width: 665px) {
   .circle-container {
      grid-template-columns: repeat(2, 1fr);
   }
   .attributeNames {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .attributeNames h2 {
      min-width: auto;
      text-align: center;
      padding-top: 1rem;
   }
   .progress-ring__circle {
      display: none;
   }
}
