:root {
    --gradient: linear-gradient(
        45deg,
        #111772,
        #493C9F,
        #7865CE,
        #A890FE
    );
}

body {
    display: inline-block;
}

.headline {
    margin-top: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    position: relative;
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: transparent;
    -webkit-text-stroke: 1px #ededed;
    text-transform: uppercase;
}

.headline::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #ededed;
    -webkit-text-stroke: 0px #ededed;
    border-right: 2px solid #ededed;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0%, 10%, 100% {
        width: 0;
    }
    70%, 90% {
        width: 100%;
    }
}

h1, h3 {
    text-align: center;
    white-space: nowrap;
}

p {
    padding: 0 50px;
    text-align: left;
}

.main-content {
    display: grid;
    justify-content: center;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.skillbar-container:nth-child(2){
    transition-delay: 200ms;
}

.skillbar-container:nth-child(3){
    transition-delay: 400ms;
}

.skillbar-container:nth-child(4){
    transition-delay: 600ms;
}

.first-img-container {
    justify-content: center;
    margin-top: 50px;
}

.first-img {
    width: 700px;
}

body,
.header-container,
.footer-container,
.mobile-nav {
    background: var(--gradient)
}

.all-skillbars {
    padding: 50px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;   
}

.skillbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    width: 170px;
    padding: 20px 0;
    background-color: #CEC5FF;
}

.skillbar-circle {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #CEC5FF;;
    background: conic-gradient(#8984EF 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.skillbar-circle::before {
    content: "";
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #CEC5FF;   
}

.circle-value {
    position: relative;
    color: #493C9F;;
    font-size: 20px;
}

.skill-type-text {
    color: #493C9F;;
    font-size: 20px;
}

.project {
    width: 80%;
    padding: 30px 0;
    margin: 30px 0;
    border-style: solid;
    border-width: 0.5;
    border-radius: 10px;
}

.customer {
    margin-bottom: 30px;
}

.mobile-nav.is-active {
    height: 100%;
}

.mobile-nav a {
    background-color: #493C9F;
}

@media screen and (max-width: 1000px) {
    .first-img {
        width: 550px;
    }
}

@media screen and (max-width: 860px) {
    .all-skillbars {
        grid-template-columns: repeat(3, 1fr);
    }

    .main-content {
        padding: 0 30px;
    }
}

@media screen and (max-width: 750px){
    .first-img {
        width: 450px;
    }
}

@media screen and (max-width: 650px) {
    .all-skillbars {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width: 500px) {
    .first-img {
        width: 300px;
    }
}


